

/* ========================= */
/* resets */
/* ========================== */

body, html {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
  height: 100%;
  background-color: black;
  color:white;
  line-height: 1.5;
}

/* ========================= */
/* body scroll bar */
/* ========================== */

.scrollbar::-webkit-scrollbar {
  width: 5px;
}

.scrollbar::-webkit-scrollbar-track {
  background: black;
  border-radius: 5px;
}

.scrollbar::-webkit-scrollbar::-webkit-scrollbar-thumb {
  background: black;
  border-radius: 5px;
}

.scrollbar::-webkit-scrollbar-thumb:hover {
  background: black;
}

.scroll-hidden {
  overflow: auto;
  scrollbar-width: none; /* For Firefox */
  -ms-overflow-style: none; /* For IE and Edge */
}

.scroll-hidden::-webkit-scrollbar {
  display: none; /* For Chrome, Safari, and Opera */
}

/* ========================= */
/* body grid */
/* ========================== */

body {
  display:grid;
  grid-template-rows: auto 1fr;
  grid-template-columns: 100vw;
}

/* ========================= */
/* header */
/* ========================== */

header {
  border-bottom: solid #222 1px;
  position: sticky;
  top:0;
  background-color: black;
  padding:1rem;
}


/* ========================= */
/* main content */
/* ========================== */

main {
  padding:1em;
  overflow-y: auto;
  overflow-x:hidden;
  position: relative;
}

main h1 {
  font-size:3rem;
  margin:0;
  margin-bottom:0.5em;
}

main h2 {
  font-size:2rem;
}

main h3 {
  font-size: 1.5rem;
}

main .code {
  display: block;
}

main pre {
}

main pre code {
  background: black;
  border:solid #222 1px;
  display: block;
  border-radius: 5px;
  padding: 1rem;
}

/* ========================= */
/* styling code blocks */
/* ========================== */

main pre code::-webkit-scrollbar {
  height: 5px;
}

main pre code::-webkit-scrollbar-track {
  background: black;
  border-radius: 5px;
}

main pre code::-webkit-scrollbar-thumb {
  background: #222;
  border-radius: 5px;
}

main pre code::-webkit-scrollbar-thumb:hover {
  background: #444;
}


.hljs {
  font-family: 'Fira Code', monospace;
  overflow-x: auto;
}

.hljs-comment,
.hljs-quote {
  color: #6272a4;
  font-style: italic;
}

.hljs-keyword,
.hljs-selector-tag,
.hljs-literal,
.hljs-title,
.hljs-section,
.hljs-doctag,
.hljs-type {
  color: #ff79c6;
}

.hljs-strong {
  font-weight: bold;
}

.hljs-emphasis {
  font-style: italic;
}

.hljs-attribute,
.hljs-name,
.hljs-variable {
  color: #50fa7b;
}

.hljs-string,
.hljs-meta,
.hljs-selector-attr,
.hljs-selector-pseudo,
.hljs-addition {
  color: #f1fa8c;
}

.hljs-regexp,
.hljs-link {
  color: #ffb86c;
}

.hljs-title.class_,
.hljs-bullet,
.hljs-subst {
  color: #8be9fd;
}

.hljs-symbol,
.hljs-number,
.hljs-deletion {
  color: #bd93f9;
}

.hljs-selector-class {
  color: #50fa7b;
}

.hljs-selector-id {
  color: #50fa7b;
  font-weight: bold;
}

.hljs-attr {
  color: #ffb86c;
}

.hljs-built_in,
.hljs-builtin-name {
  color: #ffb86c;
}

.hljs-template-variable,
.hljs-type,
.hljs-selector-tag {
  color: #8be9fd;
}

.hljs-template-tag {
  color: #ff79c6;
}

.hljs-tag {
  color: #ff79c6;
}

.hljs-name {
  color: #ff79c6;
}

.hljs-selector-id {
  color: #ff79c6;
}

.hljs-selector-attr,
.hljs-selector-pseudo {
  color: #ff79c6;
}

.hljs-meta {
  color: #f8f8f2;
}

.hljs-deletion {
  color: #ff5555;
}

.hljs-addition {
  color: #50fa7b;
}

.hljs-doctag {
  color: #ff79c6;
}

.hljs-params {
  color: #ffb86c;
}

.hljs-variable {
  color: #f8f8f2;
}

.hljs-function {
  color: #50fa7b;
}

.hljs-class {
  color: #ffb86c;
}

.hljs-code {
  color: #f1fa8c;
}
